.main-content {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}
fieldset {
  margin-bottom: 10px;
}
legend {
  padding: 5px;
  font-weight: bold;
  border-radius: 20px;
  background: rgb(185, 174, 117);
}
.myphoto {
  width: 190px;
  height: 190px;
}
.myname {
  font-weight: bold;
  color: rgb(185, 174, 117);
}
.main-text {
  padding-top: 40px;
}
