<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Educacion y Cursos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="main-content">
    <fieldset>
      <legend>FORMACIÓN</legend>
      <ul>
        <li>Escuela Politécnica Nacional (EPN) 2018-Actualidad</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>CURSOS</legend>
      <ul>
        <li>Google Active, Desarrollo Web I y II (80 horas)</li>
        <li>Google Active, Cloud Computing (40 horas)</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>IDIOMAS</legend>
      <ul>
        <li>Inglés: B1</li>
        <li>Español: Nativo</li>
      </ul>
    </fieldset>
  </div>

</ion-content>
